# CourseraDataScience

This notebook is summary of Data Science tools.

These are the data science languages:

    1)Python
    2)R
    3)Java
    4)C++
    5)Julia
    6)SQL

Some of the Data Science Libraries are:

  1. NumPy
  2. Pandas
  3. Seaborn
  4. Matplotlib
  5. PyTorch
  6. TenserFlow
  7. sckit-learn  
  8. ggplot
  9. dplyr
  10. caret
  11. keras

|Data Science Tools| 
|---|
| Python | 
| Apache Spark | 
| R Studio | 
| Pandas |

Arithmetic Expression Examples with Python

In [4]:
#this code cell is adding to numbers

10+12

22

In [5]:
#this code cell is adding and multiplying two numbers

(5+3)*10

80

In [6]:
#this code cell is converting minutes to hours (120 min to hour)

120/60

2.0

__Objective__

- Listing some of the popular data science languages
- Using tables to introduce some of the data science tools
- Using GitHub commands
- Use some arithmetic expressions

# Author

Yıldırım Sayar